@font-face {
  font-family: CreamCake;
  src: url(../font/Cream\ Cake.otf);
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(209, 41, 41, 0.301);
  background-image: url(../img/pexels-lopsan-2191013.jpg);
  background-size: cover; 
  background-repeat: no-repeat;
}

#componente {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
  font-family: CreamCake;
  font-size: 2vw;
  margin: 5%;
  border: 2px solid black;
  border-radius: 1vw;
  background-color: white;
  opacity: 0.9;
  height: auto;
}

.capaMusica {
  border-radius: 10%;
  max-width: 65vh;
}


.titulo{
  padding: 2vw;
  margin: 0;
}

.artista{
  padding: 1vw;
  margin: 0;
}

.botaoIniciar {
  background: none;
  border: none;
  display: inline-block; 
  padding: 1vw;
  margin: 1vw;
}

.tempo{
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: #828282;
  font-size: smaller;
}

.timeline {
  width: 80%;
  background-color: pink;
}

@media (max-width: 768px) {
  #componente {
    font-size: 3vw;
  }
}

@media (max-width: 480px) {
  #componente {
    font-size: 4vw;
  }
  .capaMusica {
    max-width: 80vw;
  }
}
