@font-face {
  font-family: CreamCake;
  src: url(../font/Cream\ Cake.otf);
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(209, 41, 41, 0.301);
}

#componente {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
  font-family: CreamCake;
  font-size: 2vw;
  margin: 5%;
  border: 2px solid black;
  border-radius: 1vw;
  background-color: white;
  height: auto;
}

.capaMusica {
  border-radius: 10%;
  max-width: 65vh;
}


.titulo{
  padding: 2vw;
  margin: 0;
}

.artista{
  padding: 1vw;
  margin: 0;
}

.botaoIniciar {
  background: none;
  border: none;
  display: inline-block; 
  padding: 1vw;
  margin: 1vw;
}

.tempo{
  margin: 0;
  padding: 0;

}

@media (max-width: 768px) {
  #componente {
    font-size: 3vw;
  }
}

@media (max-width: 480px) {
  #componente {
    font-size: 4vw;
  }
  .capaMusica {
    max-width: 80vw;
  }
}
